parameters:
    ignoreErrors:
        -
            message: '#mixed#'
            path: src/Client.php
        -
            message: '#does not specify its types: T#'
            path: src/Client.php
        -
            message: '#getTempFilePath#'
            path: src/Client.php
        -
            message: '#does not accept mixed#'
            path: src/Model/Model.php
        -
            message: '#does not specify its types: T#'
            path: src/RepositoryRegistry.php
        -
            message: '#instantiateClass\(\) should return#'
            path: src/HttpClientDiscovery.php
        -
            message: '#instantiateClass\(\) expects#'
            path: src/HttpClientDiscovery.php
        -
            message: '#does not accept default value of type array<string, string>#'
            path: src/HttpClientDiscovery.php
