apiVersion: v1
clusters:
- cluster:
    certificate-authority: certs/ca.pem
    server: https://your-k8s-cluster.com
  name: cluster-name
contexts:
- context:
    cluster: cluster-name
    user: cluster-user
    namespace: team-a
  name: context-name
current-context: context-name
kind: Config
users:
- name: cluster-user
  user:
    client-certificate: certs/client.pem
    client-key: certs/client-key.pem
