apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: Zm9vLWRhdGE=
    server: https://your-k8s-cluster.com
  name: cluster-name
contexts:
- context:
    cluster:  cluster-name
  name:  context-name
current-context:  context-name
kind: Config
preferences: {}
users:
- name:  cluster-user
  user:
    token: foobar
    client-certificate-data: Zm9vLWRhdGE=
    client-key-data: Zm9vLWRhdGE=